.thumbnail{
    width: 100%;
}
  

.thumbnail-row{
    margin-bottom: 12px;
    position: relative;
}

.text-row{
    display: grid;
    grid-template-columns: 50px 1fr;
}

.profile-picture{
    width:36px;
    border-radius: 50px;
}

.video-title{
    margin-top:0;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
}

.video-author,
.video-stats{
    margin-bottom: 0;
    color:gray;
    font-size: 13px;
    margin-top: 0;
}

.video-author{
    margin-bottom: 4px;
}

.video-grid{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 16px;
    row-gap: 40px;
}

.video-time{
    position: absolute;
    right:5px;
    bottom: 8px;
    background-color: black;
    color:white;
    padding-top:4px;
    padding-bottom: 4px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 12px;
    font-weight: 500;
    border-radius: 2px;
}