.thumbnail{
    width: 100%;
}
  

.thumbnail-row{
    margin-bottom: 12px;
}

.text-row{
    display: grid;
    grid-template-columns: 50px 1fr;
}

.profile-picture{
    width:37px;
    border-radius: 50px;
}

.video-title{
    margin-top:0;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
}

.video-author,
.video-stats{
    margin-bottom: 0;
    color:gray;
    font-size: 13px;
    margin-top: 0;
}

.video-author{
    margin-bottom: 4px;
}

.video-grid{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 16px;
    row-gap: 40px;
}